<app-title [titulo]="titulo"></app-title>
<div class="container">
  <div class="mx-auto padding">
    <div class="card">
      <h5 class="card-header">PMO: {{seguimiento.pmo}}</h5>
      <div class="card-body">
        <h5 class="card-title">Sprint/Release: {{seguimiento.sprORel}}</h5>

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <a id="headingReleases" data-toggle="tab" href="#collapseReleases" class="nav-link nav-item active" role="tab" aria-controls="collapseReleases"
              aria-selected="true">Releases
              <span *ngIf="releases?.auditor" class="badge badge-success">{{releases.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!releases?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingRequirements" data-toggle="tab" href="#collapseRequirements" class="nav-link nav-item" role="tab" aria-controls="collapseRequirements"
              aria-selected="false">Requirements
              <span *ngIf="requirements?.auditor" class="badge badge-success">{{requirements.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!requirements?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingTestLab" data-toggle="tab" href="#collapseTestLab" class="nav-link nav-item" role="tab" aria-controls="collapseTestLab"
              aria-selected="false">Test lab
              <span *ngIf="testLab?.auditor" class="badge badge-success">{{testLab.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!testLab?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingDefects" data-toggle="tab" href="#collapseDefects" class="nav-link nav-item" role="tab" aria-controls="collapseDefects"
              aria-selected="false">Defects
              <span *ngIf="defects?.auditor" class="badge badge-success">{{defects.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!defects?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingAgendaDeAmbiente" data-toggle="tab" href="#collapseAgendaDeAmbiente" class="nav-link nav-item" role="tab" aria-controls="collapseAgendaDeAmbiente"
              aria-selected="false">Agenda de ambiente
              <span *ngIf="agendaDeAmbiente?.auditor" class="badge badge-success">{{agendaDeAmbiente.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!agendaDeAmbiente?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingCartaDeCertificacion" data-toggle="tab" href="#collapseCartaDeCertificacion" class="nav-link nav-item" role="tab" aria-controls="collapseCartaDeCertificacion"
              aria-selected="false">Carta de certificación
              <span *ngIf="cartaDeCertificacion?.auditor" class="badge badge-success">{{cartaDeCertificacion.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!cartaDeCertificacion?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingRepositorio" data-toggle="tab" href="#collapseRepositorio" class="nav-link nav-item" role="tab" aria-controls="collapseRepositorio"
              aria-selected="false">Repositorio
              <span *ngIf="repositorio?.auditor" class="badge badge-success">{{repositorio.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!repositorio?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingDoDDdTVSTS" data-toggle="tab" href="#collapseDoDDdTVSTS" class="nav-link nav-item" role="tab" aria-controls="collapseDoDDdTVSTS"
              aria-selected="false">DoD/DdT(VSTS)
              <span *ngIf="doDDdTVSTS?.auditor" class="badge badge-success">{{doDDdTVSTS.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!doDDdTVSTS?.auditor" class="badge badge-secondary">-</span>
            </a>

            <a id="headingUSD" data-toggle="tab" href="#collapseUSD" class="nav-link nav-item" role="tab" aria-controls="collapseUSD"
              aria-selected="false">Orden de cambio
              <span *ngIf="usd?.auditor" class="badge badge-success">{{usd.auditor.usuario | slice:0:2 | uppercase}}</span>
              <span *ngIf="!usd?.auditor" class="badge badge-secondary">-</span>
            </a>
          </div>
        </nav>


        <div class="tab-content mt-2" id="nav-tabContent">
          <div id="collapseReleases" class="tab-pane fade show active" aria-labelledby="headingReleases" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-releases-revision [(releases)]="releases" [auditor]="auditor"></app-releases-revision>
            </div>
          </div>
          <div id="collapseRequirements" class="tab-pane fade" aria-labelledby="headingRequirements" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-requirements-revision [(requirements)]="requirements" [auditor]="auditor"></app-requirements-revision>
            </div>
          </div>
          <div id="collapseTestLab" class="tab-pane fade" aria-labelledby="headingTestLab" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-test-lab-revision [(testLab)]="testLab" [auditor]="auditor"></app-test-lab-revision>
            </div>
          </div>
          <div id="collapseDefects" class="tab-pane fade" aria-labelledby="headingDefects" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-defects-revision [(defects)]="defects" [auditor]="auditor"></app-defects-revision>
            </div>
          </div>
          <div id="collapseAgendaDeAmbiente" class="tab-pane fade" aria-labelledby="headingAgendaDeAmbiente" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-agenda-ambiente-revision [(agendaDeAmbiente)]="agendaDeAmbiente" [auditor]="auditor"></app-agenda-ambiente-revision>
            </div>
          </div>
          <div id="collapseCartaDeCertificacion" class="tab-pane fade" aria-labelledby="headingCartaDeCertificacion" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-carta-certificacion-revision [(cartaDeCertificacion)]="cartaDeCertificacion" [auditor]="auditor"></app-carta-certificacion-revision>
            </div>
          </div>
          <div id="collapseRepositorio" class="tab-pane fade" aria-labelledby="headingRepositorio" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-repositorio-revision [(repositorio)]="repositorio" [auditor]="auditor"></app-repositorio-revision>
            </div>
          </div>
          <div id="collapseDoDDdTVSTS" class="tab-pane fade" aria-labelledby="headingDoDDdTVSTS" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-dod-ddt-vsts-revision [(doDDdTVSTS)]="doDDdTVSTS" [auditor]="auditor"></app-dod-ddt-vsts-revision>
            </div>
          </div>
          <div id="collapseUSD" class="tab-pane fade" aria-labelledby="headingUSD" role="tabpanel">
            <div class="col-md-8 mx-auto">
              <app-usd-revision [(usd)]="usd" [auditor]="auditor"></app-usd-revision>
            </div>
          </div>

          
        </div>
        <div class="row text-center mt-3">
          <div class="col-md-6 mx-auto">
            <button (click)="atras()" type="button" class="btn btn-outline-primary">Atras</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>