<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Registrar usuario</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleInputName">Nombre(s)</label>
          <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Ingresar nombre">

        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label for="exampleInputLastName">Primer apellido</label>
              <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Ingresar primer apellido">
            </div>
            <div class="col-md-6">
              <label for="exampleInputLastName">Segundo apellido</label>
              <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="ingresar segundo apellido">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label for="exampleInputEmail1">Lugar de Trabajo</label>
              <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Ingresar lugar de trabajo">
            </div>
            <div class="col-md-6">
              <label for="exampleInputEmail1">Usuario</label>
              <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Ingresar usuario">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label for="exampleInputPassword1">Password</label>
              <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
            </div>
            <div class="col-md-6">
              <label for="exampleConfirmPassword">Confirm password</label>
              <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirmar password">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-8 mx-auto">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Rol</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option *ngFor="let rol of roles" value="rol.id">{{rol.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="login.html">Register</a>
      </form>
    </div>
  </div>
</div>