<app-title [titulo]="titulo"></app-title>
<div class="container">
  <div class="col-md-8 mx-auto padding">
    <form (ngSubmit)="guardar()">
      <div class="row align-items-end">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="doD">DoD</label>
            <input type="number" id="doD" class="form-control" [(ngModel)]="doDDdTVSTS.doD" name="doD" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="registroDeActividadesDeCertificacion">Registro de actividades de certificacion</label>
            <select id="registroDeActividadesDeCertificacion" class="custom-select form-control" [(ngModel)]="doDDdTVSTS.registroDeActividadesDeCertificacion" name="registroDeActividadesDeCertificacion">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="estandarDeNombCartDoDDdt">Estandar de nombramiento de la carta en el DoD\Ddt</label>
            <select id="estandarDeNombCartDoDDdt" class="custom-select form-control" [(ngModel)]="doDDdTVSTS.estandarDeNombCartDoDDdt" name="estandarDeNombCartDoDDdt">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="existCartDoD">Existe Carta adjuntada en el DoD</label>
            <select id="existCartDoD" class="custom-select" [(ngModel)]="doDDdTVSTS.existCartDoD" name="existCartDoD">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="tipoCartDoDAcrdTipoDeCert">Tipo de carta en el DoD de acuerdo al tipo de certificación</label>
            <select id="tipoCartDoDAcrdTipoDeCert" class="custom-select" [(ngModel)]="doDDdTVSTS.tipoCartDoDAcrdTipoDeCert" name="tipoCartDoDAcrdTipoDeCert">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="elDoDTieneFechaDeVencCartaYCoincdConCart">El DoD tiene la fecha de vencimiento de la carta y coincide con la que está en la carta</label>
            <select id="elDoDTieneFechaDeVencCartaYCoincdConCart" class="custom-select" [(ngModel)]="doDDdTVSTS.elDoDTieneFechaDeVencCartaYCoincdConCart" name="elDoDTieneFechaDeVencCartaYCoincdConCart">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="existeAprobUserEnDoD">Existe aprobación de usuario en el DoD</label>
            <select id="existeAprobUserEnDoD" class="custom-select" [(ngModel)]="doDDdTVSTS.existeAprobUserEnDoD" name="existeAprobUserEnDoD">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="listaChequeoPruebasEspecializadas">Adjuntado la lista de chequeo de pruebas especializadas</label>
            <select id="listaChequeoPruebasEspecializadas" class="custom-select" [(ngModel)]="doDDdTVSTS.listaChequeoPruebasEspecializadas" name="listaChequeoPruebasEspecializadas">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="matrizDeRiesgo">Matriz de riesgo (carta de certificacion con riesgos o o sin pruebas)</label>
            <select id="matrizDeRiesgo" class="custom-select" [(ngModel)]="doDDdTVSTS.matrizDeRiesgo" name="matrizDeRiesgo">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="existeAprobJefeEnCertDoD">Existe aprobación de jefe de Certificación en el DoD</label>
            <select id="existeAprobJefeEnCertDoD" class="custom-select" [(ngModel)]="doDDdTVSTS.existeAprobJefeEnCertDoD" name="existeAprobJefeEnCertDoD">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="correoYAprobacionDelPo">Adjuntado correo y observacion de la aprobacion del P.O</label>
            <select id="correoYAprobacionDelPo" class="custom-select" [(ngModel)]="doDDdTVSTS.correoYAprobacionDelPo" name="correoYAprobacionDelPo">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="conceptoPruebasEspecializadas">Anexado concepto de pruebas especializadas</label>
            <select id="conceptoPruebasEspecializadas" class="custom-select" [(ngModel)]="doDDdTVSTS.conceptoPruebasEspecializadas" name="conceptoPruebasEspecializadas">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="ConceptoSeguridadCorporativa">Anexado concepto de seguridad corporativa</label>
            <select id="ConceptoSeguridadCorporativa" class="custom-select" [(ngModel)]="doDDdTVSTS.ConceptoSeguridadCorporativa" name="ConceptoSeguridadCorporativa">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="closed">Closed</label>
            <select id="closed" class="custom-select" [(ngModel)]="doDDdTVSTS.closed" name="closed">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row text-center mb-4">
        <div class="col-md-6 mx-auto">
          <button type="submit" class="btn btn-outline-success">Guardar</button>
          <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>