<app-title [titulo]="titulo"></app-title>
<div class="container">
  <div class="col-md-8 mx-auto padding">
    <form (ngSubmit)="guardar()">
      <div class="row align-items-end">
          <div class="col-sm-6">
              <div class="form-group">
                <label for="rutaQC">Ruta QC</label>
                <input type="text" id="rutaQC" class="form-control" [(ngModel)]="releases.rutaQC" name="rutaQC" />
              </div>
            </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="idReleaseQC">ID Release en QC</label>
            <input type="number" id="idReleaseQC" class="form-control" [(ngModel)]="releases.idReleaseQC" name="idReleaseQC" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="estandarNomDeRelease">Estandar de nombramiento de Release</label>
            <select id="estandarNomDeRelease" class="custom-select form-control" [(ngModel)]="releases.estandarNomDeRelease" name="estandarNomDeRelease">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="releaseIdEqAgendaAmbiente">Release ID = Agenda de ambiente</label>
            <select id="releaseIdEqAgendaAmbiente" class="custom-select" [(ngModel)]="releases.releaseIdEqAgendaAmbiente" name="releaseIdEqAgendaAmbiente">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="fechaInicioYCierre">Fecha de inicio y cierre</label>
            <select id="fechaInicioYCierre" class="custom-select" [(ngModel)]="releases.fechaInicioYCierre" name="fechaInicioYCierre">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="tieneFechaRealCierre">Tiene Fecha Real Cierre</label>
            <select id="tieneFechaRealCierre" class="custom-select" [(ngModel)]="releases.tieneFechaRealCierre" name="tieneFechaRealCierre">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="tieneElNumeroDelDodEnElSprint">al release le tengo el numero del DoD en el sprint</label>
            <select id="tieneElNumeroDelDodEnElSprint" class="custom-select" [(ngModel)]="releases.tieneElNumeroDelDodEnElSprint" name="tieneElNumeroDelDodEnElSprint">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="estadoDeSprint">Estado de Sprint finalizado con carta</label>
            <select id="estadoDeSprint" class="custom-select" [(ngModel)]="releases.estadoDeSprint" name="estadoDeSprint">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="reqsAsignsAlCiclo">Requerimientos asignados al ciclo</label>
            <select id="reqsAsignsAlCiclo" class="custom-select" [(ngModel)]="releases.reqsAsignsAlCiclo" name="reqsAsignsAlCiclo">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="carptsSetPruebasAsignsAlCiclo">Carpetas de set de pruebas asignadas al ciclo</label>
            <select id="carptsSetPruebasAsignsAlCiclo" class="custom-select" [(ngModel)]="releases.carptsSetPruebasAsignsAlCiclo" name="carptsSetPruebasAsignsAlCiclo">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              <label for="carpetaDeProcesoATerminados">paso de la carpeta "en proceso" a "terminados"</label>
              <select id="carpetaDeProcesoATerminados" class="custom-select" [(ngModel)]="releases.carpetaDeProcesoATerminados" name="carpetaDeProcesoATerminados">
                <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
              </select>
            </div>
          </div>
      </div>
      <div class="row text-center mb-4">
        <div class="col-md-6 mx-auto">
          <button type="submit" class="btn btn-outline-success">Guardar</button>
          <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>