<app-title [titulo]="titulo"></app-title>
<div class="container">
  <div class="col-md-8 mx-auto padding">
    <form>
      <div class="row align-items-end">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="iDAgendaDeAmbiente">ID Agenda de ambiente</label>
            <input type="number" id="iDAgendaDeAmbiente" class="form-control" [(ngModel)]="agendaDeAmbiente.iDAgendaDeAmbiente" name="iDAgendaDeAmbiente" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="ultimaVersionFormato">Última versión formato</label>
            <select id="ultimaVersionFormato" class="custom-select form-control" [(ngModel)]="agendaDeAmbiente.ultimaVersionFormato" name="ultimaVersionFormato">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="estandarDeNombramiento">Estandar de nombramiento</label>
            <select id="estandarDeNombramiento" class="custom-select" [(ngModel)]="agendaDeAmbiente.estandarDeNombramiento" name="estandarDeNombramiento">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="presntAgendDeAmbntsYSeEncntrEnEstAprob">Presenta agendamiento de ambientes y se encuentra en estado 'Aprobado'</label>
            <select id="presntAgendDeAmbntsYSeEncntrEnEstAprob" class="custom-select" [(ngModel)]="agendaDeAmbiente.presntAgendDeAmbntsYSeEncntrEnEstAprob" name="presntAgendDeAmbntsYSeEncntrEnEstAprob">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <app-title class="mx-auto" [titulo]="tituloSharePoint"></app-title>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="diligenDeSharepoint">Diligenciamiento de sharepoint</label>
            <select id="diligenDeSharepoint" class="custom-select" [(ngModel)]="agendaDeAmbiente.diligenDeSharepoint" name="diligenDeSharepoint">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>