<app-title [titulo]="titulo"></app-title>
<div class="container">
  <div class="col-md-8 mx-auto padding">
    <form (ngSubmit)="guardar()">
      <div class="row align-items-end">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="numOrdenCambio"># de Orden de Cambio</label>
            <input type="number" id="numOrdenCambio" class="form-control" [(ngModel)]="usd.numOrdenCambio" name="numOrdenCambio" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="campoCodDefTermi">Campo Código Definición de Terminado</label>
            <select id="campoCodDefTermi" class="custom-select form-control" [(ngModel)]="usd.campoCodDefTermi" name="campoCodDefTermi">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
        <app-title class="mx-auto w-100" [titulo]="tituloIncidentes"></app-title>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="incdntsPorBugsEstNotResolved">Incidentes por Bugs en estado "Not Resolved"</label>
            <select id="incdntsPorBugsEstNotResolved" class="custom-select" [(ngModel)]="usd.incdntsPorBugsEstNotResolved" name="incdntsPorBugsEstNotResolved">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row text-center mb-4">
        <div class="col-md-6 mx-auto">
          <button type="submit" class="btn btn-outline-success">Guardar</button>
          <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>